



.test-app-comp{
  padding: 0;
  margin: 777px;
}

.users{
  display: flex;
  justify-content: space-around;
}
app-user-table,
app-user-list {
  display: flex;
  flex-direction: column;
  flex: 0 0 50%;
}
app-user-list {
  border: 2px solid green;
  button{
    margin: 0 auto;
    width: 88px;
    background: orange;
      display: inline-block;
      font-weight: 400;
      color: white;
      text-align: center;
      vertical-align: middle;
      user-select: none;
      border: 1px solid transparent;
      padding: .375rem .75rem;
      font-size: 1rem;
      line-height: 1.5;
      border-radius: .25rem;
      transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    &:hover{
      background: darkorange;
    }
  }
  h3{
    background: lightcoral;
  }
}
app-user-table {
  //border: 2px solid red;
  margin: 48px auto;
  text-align: center;
}
